.fullscreen_item {
  -webkit-text-stroke: 2px var(--white);
  font-weight: 700;
  &:hover {
    -webkit-text-stroke: 2px var(--primary);
  }
  span {
    position: relative;
    &::before {
      counter-increment: section;
      content: counter(section, decimal-leading-zero) '.';
      padding-bottom: 0.75rem;
      --tw-text-opacity: 1;
      color: var(--primary);
    }
  }
  @media screen and (max-width: 450px) {
    -webkit-text-stroke: unset;
  }
}
